<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>New product added to the database!</h3>
    <h5>Overview:</h5>
    <ul>
      <% for (let p in newProduct ) { %> <% if
      (p.match(/^(name|category|size|description|color|brand|material|price|gender)$/))
      { %>

      <li><%=p%> : <%=newProduct[p]%></li>
      <% } }; %>
    </ul>

    <img
      src="<%= newProduct['pic_src'] %>"
      class="rounded-bottom"
      width="180"
      height="180"
    />
  </body>
</html>
